@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
:root{
    --dark-blue1: hsl(217, 28%, 15%);
    --dark-blue2: hsl(218, 28%, 13%);
    --dark-blue3: hsl(216, 53%, 9%);
    --dark-blue4: hsl(219, 30%, 18%);
    --cyan: hsl(176, 68%, 64%);
    --blue: hsl(198, 60%, 50%);
    --light-red: hsl(0, 100%, 63%);
    --white: hsl(0, 0%, 100%);
}
*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: var(--dark-blue1);
    font-family: 'Open Sans', sans-serif;
}
h1 h2 h3 h4 h5 h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}
.head{
    background-image: url("images/illustration-intro.png");
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top 5.5rem center;
    background-color: var(--dark-blue4);
    height: 22rem;
    max-height: 100%;

}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0% 6%;
}
div ul li {
    list-style-type: none;
    display: inline-block;
    padding:30px 10px;
    color: var(--white);
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    
  }
  /* header */
  .sec1{
    text-align: center;
    background-color: var(--dark-blue4);
    background-image: url("images/bg-curvy-mobile.svg");
    background-size: 180%;
    background-position:top center;
    background-repeat: no-repeat;
    height: 16rem;
    
  }
  .intro-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
    padding-top: 0.4rem;
    width: 100%;
    /* padding-left: 40px;
    padding-right: 40px; */
  }
  .sec1 h1{
    color: var(--white);
  }
  .sec1 p{
    color: var(--white);
  }
  .sec1 button{
    width: 70%;
    padding: 10px 10px;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--cyan);
    margin: 0 auto;
    /* section 1 */
  }
 .sec2{ 
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding-top: 12rem;
    background-color: var(--dark-blue2);
    height: 170vh;
 }
 .secitems{
    color: var(--white); 
    padding-left: 40px; 
    padding-right: 40px;
 }
 .secitems img{
    padding-bottom: 50px;
 }
 .secitems h2{
    padding-bottom: 10px;
 }
 .secitems p{
    padding-bottom: 50px;
 }
 /* section 2 */
.sec3{
    background-color: var(--dark-blue2);
    height: 90vh;
}
.sec3 img{
    width: 320px;
    padding-left: 60px;
    
}
.sec3items{
    color: var(--white);
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 50px;
}
.sec3items h2{
    padding-bottom:20px;
    font-size:21px;
}
.sec3items p{
    padding-bottom:20px;
}
.link3{
    color: var(--cyan);
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: underline;
}
.arrow{
    color: var(--cyan);
    margin-left:-26px;
}
/* section 3 */

.section4 {
 color: white;
background-color: var(--dark-blue2);
display: flex;
flex-direction: column;
gap: 30px;
padding: 30px 60px;
height: 150vh;
}
.quotes{
    width: 30px;
    position: absolute;
    /* top: 7px; */
    z-index: 2;
    left:60px;
    
}
.section4-items{
    background-color: var(--dark-blue4);
    border-radius: 8px;
    padding: 20px 40px 200px;
    height: 140px ;
    position:relative;

}
.section4-items > div{
    display: grid;
    grid-template-columns: 1fr 15fr;
    gap: 10px;
    place-content: center;
    padding-top: 20px;
    z-index: 1;
}
.section4-items img{
    width: 50px;
    border-radius: 70px;
}
.h3andp{
 width: 100%;
 padding-top: 2px;
 margin-top: 0px; 

}
@media(min-width: 768px){
 .section4{
    flex-direction: row;
 }
}
footer{
    background-color: var(--dark-blue3);
    position: relative;
    padding-top: 400px;
    height: 190vh;
}
.top-part{
    padding: 20px 40px;
    width: 70%;
    max-width: 600px;
    margin: 0 auto;
    background-color: var(--dark-blue);
    border-radius: 8px;
    position: absolute;
    top: -1px;
    bottom: 0px;
    color: white;
    left: 0;
    right: 0;
    text-align: center;
    height: 20px;
}

.top-part h3, .top-part p{
    padding-bottom: 20px;
}
.top-part input{
    width: 90%;
    padding: 10px 5%;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
}
.top-part button{
    width: 100%;
    padding: 10px 10px;
    border-radius: 30px;
    border: none;
    margin-bottom: 20px;
    background-color: var(--cyan);
}

@media (min-width:768px){
    .inpbt{
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
}

.bottom-part img{
    margin-top: 100px;
    padding-left: 30px;
}
.content1 p{
    color: white;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}
.content1 img{
    margin-bottom: -25px;
    padding-left: 20px;
}
.listt li{
    list-style-type: none;
    display: block;
    padding:20px 10px;
    color: white ;
    padding-left: 20px;
    margin-top: 30px;
}